<p style="background-color: brown; display: inline-block;">{{quoteSend.postedDate| date}}</p>
<p>
    Posted: {{quoteSend.postedDate|date| durationCount}} days ago
</p>




<!-- upvote and downVote button -->
<button (click)="upVote()" type="submit" class="btn btn-outline-success" style="margin-right:10px ;">Upvote</button>
{{upvote}}
<button (click)="downVote()" type="submit" class="btn btn-outline-danger" style="margin-right: 10px;">Downvote</button>
{{downvote}}
<br><br>

<!-- delete button -->
<button (click)="deleteMain(true)" type="submit" class="btn btn-danger">Delete</button>