<h1>VALOR INSPIRATIONAL QUOTES</h1>

<hr>

<div class="row">
    <div class="col-md-3">

        <ul>
            <div *ngFor='let QuoteClasse of QuoteClassess;let i = index'>
                <li>{{QuoteClasse.author}}</li>
                <button (click)='toggleDetails(i)'>More info</button>
                <app-quote-details *ngIf='QuoteClasse.showQuotes' [quoteSend]='QuoteClasse'></app-quote-details>
            </div>
        </ul>
        <p *ngIf='QuoteClassess.length == 0'>You have too many goals</p>
    </div>
</div>